#ScoreCalc{
    position: absolute ;
    font-size: 60px;
    right: 250px;
    top: 450px;
}
#div1{
    position: absolute;
    font-size: 60px;
    right: 550px;
    top: 625px;
}
#TextBox1{
    font-size: 25px;
    height:60px;
    width: 400px;
}
    

#div2{
    position: absolute;
    font-size: 60px;
    right: 550px;
    top: 850px;
    
}
#TextBox2{
    font-size: 25px;
    height:60px;
    width: 400px;
}
#Button{
    position: absolute;
    height : 100px;
    width: 350px;
    font-size: 30px;
    right: 100px;
    top: 800px;
}
#BlankLabel{
    position: absolute;
    border: 50px;
    font-size: 60px;
    right: 550px;
    top: 1200px;
}
